
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Document</title>


</head>

{% load static %}
<link rel="stylesheet" href="{% static 'img/stylee.css' %}">
<body style="background-image: url('{% static 'img/7.jpg' %}'); background-repeat: no-repeat;background-size: 100% ;background-attachment:fixed">
<h1 STYLE="color: navy">ITI BLOG</h1>

</br></br>

<div class="wrap">
  <button class="button">
      <a style="text-align:center" href='/register/' class="button">REGISTER</a>
  </button>
  <button class="button">
      <a style="text-align:center" href='/login/' class="button">LOGIN</a>
  </button>
</div>
</body>
</html>